# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor
vendor/

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# User-specific stuff
.idea/
.idea/**/workspace.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Compiled binaries
/bin/
/pkg/

# Local development tmp
/tmp/
